
<main id="pet-search">
  <section>
    <form class="search-form" action="/search/dogs" method="get">
      <input id="latitude" type="hidden" name="latitude"></input>
      <input id="longitude" type="hidden" name="longitude"></input>
      <div class="search-title">Breed</div>
      <select class="dropdown" name="breed">
        <option class="option" value="">Any</option>
        <% presenter.breeds.each do |breed| %>
          <option value="<%= breed.name %>"><%= breed.name %></option>
        <% end %>
      </select>
      <div class="search-title">Age</div>
      <select class="dropdown" name="age">
        <option class="option" value="">Any</option>
        <option value="Baby">Baby</option>
        <option value="Young">Young</option>
        <option value="Adult">Adult</option>
        <option value="Senior">Senior</option>
      </select>
      <div class="search-title">Size</div>
      <select class="dropdown" name="size">
        <option value="">Any</option>
        <option value="S">Small</option>
        <option value="M">Medium</option>
        <option value="L">Large</option>
        <option value="XL">XL</option>
      </select>
      <div class="search-title">Gender</div>
      <select class="dropdown" name="sex">
        <option value="">Any</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <input class="dropdown submit" type="submit" value="Search">
    </form>
    <section id="search-area">

    <% presenter.dogs.each do |dog| %>
      <a class="card-link" href="/search/dogs/<%= dog.id %>">
          <article class="pet-box">
              <img class="thumbnail-pic" src="<%= dog.photos.thumbnail_photo %>" alt="">
            <article class="pet-thumb-info">
              <div class="pet-name"><%= dog.short_name %></div>
              <div>
                <% dog.breeds.each do |breed| %>
                  <div class="attribute  small"><%= breed %></div>
                <% end %>
              </div>
              <div class="attribute"><%= dog.age %> <%= dog.sex %></div>
              <div class="attribute"><%= dog.contact.city_state_zip %></div>
          </article>
        </article>
      </a>
    <% end %>
    </section>
  </section>
</main>
<script type="text/javascript">
  var x = document.getElementById("latitude");
  var y = document.getElementById("longitude");
  function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  function showPosition(position) {
    x.value = position.coords.latitude
    y.value = position.coords.longitude
  }

  window.onload = getLocation;
</script>
