
<main id="pet-search">
  <section>
    <form class="search-form" action="/search/dogs" method="get">
      <input id="latitude" type="hidden" name="latitude" value="<%= params[:latitude] %>"></input>
      <input id="longitude" type="hidden" name="longitude" value="<%= params[:longitude] %>"></input>
      <div class="search-title">Breed</div>
      <select class="dropdown" name="breed">
        <option class="option" value="">Any</option>
        <% @presenter.breeds.each do |breed| %>
          <option value="<%= breed.name %>"><%= breed.name %></option>
        <% end %>
      </select>
      <div class="search-title">Age</div>
      <select class="dropdown" name="age">
        <option class="option" value="">Any</option>
        <option value="Baby">Baby</option>
        <option value="Young">Young</option>
        <option value="Adult">Adult</option>
        <option value="Senior">Senior</option>
      </select>
      <div class="search-title">Size</div>
      <select class="dropdown" name="size">
        <option value="">Any</option>
        <option value="S">Small</option>
        <option value="M">Medium</option>
        <option value="L">Large</option>
        <option value="XL">XL</option>
      </select>
      <div class="search-title">Gender</div>
      <select class="dropdown" name="sex">
        <option value="">Any</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <input id="search-button" class="dropdown submit" type="submit" value="Search">
    </form>
    <section id="search-area">

    <% @presenter.dogs.each do |dog| %>
      <div class="pet-<%= dog.id %>">
        <a class="card-link" href="<%= search_dog_path(
                                    id: dog.id, name: dog.name,
                                    location: dog.contact.zip,
                                    size: dog.size.first, breed: dog.breeds.first,
                                    age: dog.age, sex: dog.sex.first) %>">
            <article class="pet-box">
                <img class="thumbnail-pic" src="<%= dog.photos.thumbnail_photo %>" alt="">
              <article class="pet-thumb-info">
                <div class="pet-name"><%= dog.short_name %></div>
                <div>
                  <% dog.breeds.each do |breed| %>
                    <div class="attribute  small"><%= breed %></div>
                  <% end %>
                </div>
                <div class="attribute"><%= dog.age %> <%= dog.sex %></div>
                <div class="attribute"><%= dog.contact.city_state_zip %></div>
            </article>
          </article>
        </a>
        <%= button_to "Add to Favorites", default_favorites_path(id: dog.id, name: dog.name,
        size: params[:size], breed: params[:breed],
        age: params[:age], sex: params[:sex],
        latitude: params[:latitude],
        longitude: params[:longitude], type: 'dog', ), class: 'favorites-button' if @presenter.user.logged_in? %>
      </div>
    <% end %>
    </section>
  </section>
</main>
<% if params['longitude'].nil? || params['longitude'].empty? %>
  <script type="text/javascript">
    $('#search-button').attr('disabled', '');

    function showPosition(pos) {
      document.getElementById('latitude').value = pos.coords.latitude;
      document.getElementById('longitude').value = pos.coords.longitude;
      $('#search-button').removeAttr('disabled');
    }

    $(function() {
      navigator.geolocation.getCurrentPosition(showPosition);
    });

  </script>
<% end %>
