
  <main class="font-black ">
    <section class="pet-show">
      <article class="pet-show-card">
        <section class="info-and-photo">
          <img class="big-photo" src="<%= @presenter.dog.photos.profile_photo %>" alt="">
          <article class="basic-info">
            <div class="pet-name-show"><%= @presenter.dog.name %></div>
            <article class="">
              <% @presenter.dog.breeds.each do |breed| %>
                <div class="attributes-show"><%= breed %></div>
              <% end %>
              <div class="attributes-show"><%= @presenter.dog.age %> - <%= @presenter.dog.sex %> - <%= @presenter.dog.size %> sized</div>
              <div class="attributes-show"><%= @presenter.dog.contact.full_address %></div>
            </article>
            <article class="">
              <div class="attributes-show underline">Contact Info</div>
              <div class="attributes-show"><%= @presenter.dog.contact.number %></div>
              <div class="attributes-show"><%= @presenter.dog.contact.email %></div>
            </article>
          </article>
        </section>
        <article class="description marg-top-20 color-gray">
          <div class="underline marg-left-10 marg-bottom-10 font-18">Bio</div>
          <div class="attributes-show font-18"> <%= @presenter.dog.description %></div>
        </article>
     </article>
     <aside class="shelter-map-box">
        <div id="shelter-map">

        </div>
        <div class="shelter-info-box">
          <div><%= @presenter.shelter.name %></div>
          <div><%= @presenter.shelter.phone %></div>
          <div><%= @presenter.shelter.email %></div>
        </div>
      </section>
     </aside>
   </section>
   <section>
     <% @presenter.books.each do |book| %>
        <img src="<%= book.image %>" alt="">
        <h3><%= book.title %></h3>
        <div><%= book.date %></div>
        <div class=""><%= book.snippet %></div>
        <a href="<%= book.link %>">View Book</a>
     <% end %>
   </section>
 </main>
<script>
  var long = <%= @presenter.shelter.longitude %>
  var lat = <%= @presenter.shelter.latitude %>
  mapboxgl.accessToken = "pk.eyJ1Ijoic2RtYWxlazQ0IiwiYSI6ImNqbHlhc3IxZzA4ZGsza3BpeGU1aGV0MXgifQ.9MGdnq_vndt0cbN1Q5ybbA";
  var map = new mapboxgl.Map({
    container: 'shelter-map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [long, lat],
    zoom: 12.8
    });
    var marker = new mapboxgl.Marker()
      .setLngLat([long, lat])
      .addTo(map);
</script>
