<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="font-black">
    <img src="<%= presenter.dog.photos.profile_photo %>" alt="">
    <h1><%= presenter.dog.name %></h1>
    <div><%= presenter.dog.contact.full_address %></div>
    <div class="">Breed: <%= presenter.dog.breeds %></div>
    <div class="">Age: <%= presenter.dog.age %></div>
    <div class="">Gender: <%= presenter.dog.sex %></div>
    <div class="">Size: <%= presenter.dog.size %></div>
    <h3>Profile</h3>
    <p> <%= presenter.dog.description %></p>
    <div>Contact Info:</div>
    <ul class="">
      <li>Phone: <%= presenter.dog.contact.number %></li>
      <li>Email: <%= presenter.dog.contact.email %></li>
    </ul>
  </body>
</html>
