<img src="<%= @dog.photos.profile_photo %>" alt="">
<h1><%= @dog.name %></h1>
<div><%= @dog.contact.full_address %></div>
<div class="">Breed: <%= @dog.breeds %></div>
<div class="">Age: <%= @dog.age %></div>
<div class="">Gender: <%= @dog.sex %></div>
<div class="">Size: <%= @dog.size %></div>
<h3>Profile</h3>
<p> <%= @dog.description %></p>
<div>Contact Info:</div>
<ul class="">
  <li>Phone: <%= @dog.contact.number %></li>
  <li>Email: <%= @dog.contact.email %></li>
  <li>Email: <%= @dog.contact.email %></li>
</ul>
