
  <main id="pet-search">
    <section>
      <form class="search-form" action="/search/cats" method="get">
        <input id="latitude" type="hidden" name="latitude" value="<%= params[:latitude] %>"></input>
        <input id="longitude" type="hidden" name="longitude" value="<%= params[:longitude] %>"></input>
        <div class="search-title">Breed</div>
        <select class="dropdown" name="breed">
          <option class="option" value="">Any</option>
          <% @presenter.breeds.each do |breed| %>
          <option value="<%= breed.name %>"><%= breed.name %></option>
          <% end %>
        </select>
        <div class="search-title">Age</div>
        <select class="dropdown" name="age">
          <option class="option" value="">Any</option>
          <option value="Baby">Baby</option>
          <option value="Young">Young</option>
          <option value="Adult">Adult</option>
          <option value="Senior">Senior</option>
        </select>
        <div class="search-title">Size</div>
        <select class="dropdown" name="size">
          <option value="">Any</option>
          <option value="S">Small</option>
          <option value="M">Medium</option>
          <option value="L">Large</option>
          <option value="XL">XL</option>
        </select>
        <div class="search-title">Gender</div>
        <select class="dropdown" name="sex">
          <option value="">Any</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <input id="search-button" class="dropdown submit" type="submit" value="Search">
      </form>
      <section id="search-area">

      <% @presenter.cats.each do |cat| %>
        <div class="pet-<%= cat.id %>">
          <a class="card-link" href="<%= search_cat_path(
                                      id: cat.id, name: cat.name,
                                      location: cat.contact.zip,
                                      size: cat.size.first, breed: cat.breeds.first,
                                      age: cat.age, sex: cat.sex.first) %>">
              <article class="pet-box">
                  <img class="thumbnail-pic" src="<%= cat.photos.thumbnail_photo %>" alt="">
                <article class="pet-thumb-info">
                  <div class="pet-name"><%= cat.short_name %></div>
                  <div>

                    <% cat.breeds.each do |breed| %>
                      <div class="attribute  small"><%= breed %></div>
                    <% end %>
                  </div>
                  <div class="attribute"><%= cat.age %> <%= cat.sex %></div>
                  <div class="attribute"><%= cat.contact.city_state_zip %></div>
              </article>
            </article>
          </a>
          <%= button_to "Add to Favorites", default_favorites_path(id: cat.id, name: cat.name,
          size: params[:size], breed: params[:breed],
          age: params[:age], sex: params[:sex],
          latitude: params[:latitude],
          longitude: params[:longitude], type: 'cat'), class: 'favorites-button' if @presenter.user.logged_in? %>
        </div>
      <% end %>
      </section>

    </section>
  </main>
  <% if params['longitude'].nil? || params['longitude'].empty? %>
    <script type="text/javascript">
      $('#search-button').attr('disabled', '');

      function showPosition(pos) {
        document.getElementById('latitude').value = pos.coords.latitude;
        document.getElementById('longitude').value = pos.coords.longitude;
        $('#search-button').removeAttr('disabled');
      }

      $(function() {
        navigator.geolocation.getCurrentPosition(showPosition);
      });

    </script>
  <% end %>
