<!DOCTYPE html>
<html>
  <head>
    <title>PetQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <%= render "shared/#{@presenter.current_navbar}" %>
    <div class="flash"><%= flash.notice %></div>
    <%= yield %>
    <% unless current_user.logged_in? %>
      <script type="text/javascript">
        $('#sign-button').attr('disabled', '');
        function assignPosition(pos) {
          document.getElementById('lat').value = pos.coords.latitude;
          document.getElementById('lon').value = pos.coords.longitude;
          $('#sign-button').removeAttr('disabled');
        }
        $(function() {
          navigator.geolocation.getCurrentPosition(assignPosition);
        });

      </script>
    <% end %>
  </body>
</html>
