<!DOCTYPE html>
<html>
  <head>
    <title>PetQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="nav">
        <div class="inner-nav">
          <img class="logo" src="/assets/pq_logo_final.png" alt="">
          <a class="sign-in" href="<%= oauth_path(last_path: request.env['REQUEST_PATH']) %>">Sign In</a>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
