<!DOCTYPE html>
<html>
  <head>
    <title>PetQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/#{presenter.current_navbar}" %>
    <%= yield %>
  </body>
</html>
